html{
  height: 100%;
}
body{
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: 'Passion One',display;
  font-weight: 600;
  letter-spacing: 4px;
  background-color: black;
}
.container{
  padding: 0px!important;
  margin: 0px!important;
  max-width: 100%!important;
}
.et_parallax_bg_wrap {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.parallax {
  /* The image used */
  background-image: url("BI.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.secondary_header{
  background-color: #F46E5F;
  text-align: center;
  margin: auto;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Passion One',display;
  max-width: 65%;
  min-width: 50%;
}
#secondary_header{
  max-width: 65%;
  min-width: 50%;
}
.et_pb_top_inside_divider
{
  background-image:url("download.svg");
  background-size:100% 100px;
  top:0;
  height:100px;
  z-index:1;
  transform:rotateX(180deg);
  background-color:transparent
}
#nav{
  background-color: black!important;
  color: white!important;
  text-align: center;
  align-items: center;
  margin: auto;
}
.navbar{
  color: white!important;
  align-items: center;
  font-family: 'Passion One',display;
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 35px;   
}
.FirstSection{
  color: white;
  align-items: center!important;
}
.vertical-center{
	min-height: 100%;
  min-height: 100vh;
  max-height: 100vh;
	display:flex;
	align-items:center;
	justify-content: center;
}
.horizontal-center{
	margin:auto;
}
#links{
	display: flex;
	align-items:center;
	justify-content: center;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  line-height: 40px;
  color: white;
  text-align: center;
  height: 40px;
}
#email{
	opacity:0.7;
}
.fa {
  padding: 25px;
  font-size: 30%;
  width: 100%;
  height: auto;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: rgb(85,90,205);
  color: white;
}
.fa-github{
	background: rgb(27,31,35);
	color: white;
}
.fa-tumblr{
	background: rgb(42,68,95);
	color: white;
}
.fa-stack-overflow{
	background: rgb(244,128,36);
	color: white;
}
.fa-1x {
font-size: 2.5rem;
}
.row{
  margin: 0px!important;
}
.content_column{
  height: 80%!important;
  position: relative;
  padding: 0px!important;
}
#links{
	display: flex;
	align-items:center;
  justify-content: center;
  height: 100%;
}



